{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <br><br><br><br><br>
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Sign Up</div>
        </div><!--/.panel-heading-->
        <div class="panel-body">
            {{ utils.flashed_messages() }}
            <!-- Generate the Sign Up form -->
            {{ wtf.quick_form(form) }}          
        </div><!--/.panel-body-->
    </div><!--/.panel panel-info-->
{% endblock %}
